@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&family=Poppins:wght@300&display=swap");
* {
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo{
  z-index: 2;
}
.links{
  z-index: 2;
}
a {
    position: relative;
    letter-spacing: 0.5px;
}
a:hover{
  color: #008888;
}  a:after{
    content: "";
    position: absolute;
    background-color: #40aaaa;
    height: 3px;
    width: 0;
    left: 0px;
    bottom: -8px;
    transition: 0.3s;
}
a:hover:after{
  width: 100%;
}
.box {
  width: 20rem;
  height: 20rem;
  background-color: #40aaaa;
  z-index: 2;
}
canvas {
  padding-top: 30%;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
}

.bloc {
  display: inline-block;
  overflow: hidden;
  height: 1.189em;
}
.header-text{
  height: 70vh;
}
.line:first-child {
  animation: essai 8s infinite ease-in-out;
}
@keyframes essai {
  0% {
    margin-top: 0.9%;
  }
  25% {
    margin-top: -8%;
  }
  50% {
    margin-top: -16%;
  }
  100% {
    margin-top: -25%;
  }
}
